In [37]:
from os import environ
from datetime import datetime, timedelta

from dotenv import load_dotenv
from psycopg2 import extensions, connect
import pandas as pd
from xhtml2pdf import pisa

YESTERDAY_DATE = datetime.strftime(datetime.now() - timedelta(1), '%d-%m-%Y')


def get_db_connection() -> extensions.connection:
    """Returns a connection to the AWS Bandcamp database"""

    try:
        return connect(user=environ["DB_USER"],
                       password=environ["DB_PASSWORD"],
                       host=environ["DB_IP"],
                       port=environ["DB_PORT"],
                       database=environ["DB_NAME"])
    except ConnectionError:
        print("Error: Cannot connect to the database")

In [38]:
def load_all_data(db_connection: extensions.connection) -> pd.DataFrame:
    """Loads all the data from the database into a pandas dataframe"""

    with db_connection.cursor() as curr:

        curr.execute("""
                    SELECT sale_event.*, country.country, artist.artist_name, genre.genre, item_type.item_type, item.item_name
                    FROM sale_event
                    JOIN country
                    ON country.country_id = sale_event.country_id
                    JOIN item
                    ON item.item_id = sale_event.item_id
                    JOIN artist
                    ON artist.artist_id = item.artist_id
                    JOIN item_genre
                    ON item_genre.item_id = item.item_id
                    JOIN genre
                    ON genre.genre_id =item_genre.genre_id
                    JOIN item_type
                    ON item_type.item_type_id = item.item_type_id;""")
        tuples = curr.fetchall()
        column_names = ['sale_id', 'sale_time', 'amount', 'item_id',
                        'country_id', 'country', 'artist', 'genre', 'item_type', 'item_name']

        df = pd.DataFrame(tuples, columns=column_names)

        return df

In [39]:
load_dotenv()
connection = get_db_connection()
data = load_all_data(connection)
data

,sale_id,sale_time,amount,item_id,country_id,country,artist,genre,item_type,item_name
0,127,2024-01-08 12:16:57+00:00,127,4,2,United Kingdom,the ambient drones of bill baxter,soundscapes,album,Procyon
1,51,2024-01-08 12:12:34+00:00,381,4,2,United Kingdom,the ambient drones of bill baxter,soundscapes,album,Procyon
2,2,2024-01-08 12:10:11+00:00,127,4,2,United Kingdom,the ambient drones of bill baxter,soundscapes,album,Procyon
3,127,2024-01-08 12:16:57+00:00,127,4,2,United Kingdom,the ambient drones of bill baxter,lowercase,album,Procyon
4,51,2024-01-08 12:12:34+00:00,381,4,2,United Kingdom,the ambient drones of bill baxter,lowercase,album,Procyon
...,...,...,...,...,...,...,...,...,...,...
1610,309,2024-01-08 12:40:52+00:00,254,585,1,Australia,switzerland,indie,album,Switzology
1611,309,2024-01-08 12:40:52+00:00,254,585,1,Australia,switzerland,pop,album,Switzology
1612,309,2024-01-08 12:40:52+00:00,254,585,1,Australia,switzerland,rock,album,Switzology
1613,309,2024-01-08 12:40:52+00:00,254,585,1,Australia,switzerland,twinkly,album,Switzology
1614,309,2024-01-08 12:40:52+00:00,254,585,1,Australia,switzerland,emo,album,Switzology

In [40]:
unique_sales = data.drop_duplicates(subset='sale_id', keep='first')
album_sales = unique_sales.drop(unique_sales[unique_sales['artist'] != 'we rob rave'].index)
album_sales

Empty DataFrame
Columns: [sale_id, sale_time, amount, item_id, country_id, country, artist, genre, item_type, item_name]
Index: []

In [41]:
unique_genre_count = data['genre'].value_counts().head(5).reset_index()
unique_genre_count

          genre  count
0   electronics    161
1        techno     70
2         house     43
3  experimental     31
4          rock     30

In [42]:
uunique_sales = data.drop_duplicates(subset='sale_id', keep='first')
album_sales = unique_sales.drop(unique_sales[unique_sales['item_type'] == 'track'].index)
popular_albums = album_sales['item_name'].value_counts().sort_values(ascending=False).head(
        5).reset_index()
popular_albums

            item_name  count
0     Timber Creek EP      4
1             Procyon      3
2  LIVE IN PARIS 1973      3
3    How To Disappear      2
4           Motorbike      2

In [43]:
unique_sales = data.drop_duplicates(subset='sale_id', keep='first')
album_sales = unique_sales.drop(
     unique_sales[unique_sales['item_type'] == 'track'].index)
album_sales = album_sales.groupby(
    'item_name')['amount'].sum()

album_sales = (
     album_sales/100).sort_values(ascending=False).head(5).reset_index()
album_sales

                                           item_name  amount
0                 After Fifteen Years, Live at Buddy   34.58
1  Orphans: Brawlers, Bawlers & Bastards (Remaste...   30.00
2                                 LIVE IN PARIS 1973   29.97
3                                    Timber Creek EP   26.76
4                                       Dark Current   25.00

In [47]:
unique_sales = data.drop_duplicates(subset='sale_id', keep='first')
album_sales = unique_sales.drop(
    unique_sales[unique_sales['item_type'] == 'track'].index)
popular_albums = album_sales['item_name'].value_counts().sort_values(ascending=False).head(
    5).reset_index()
selected = popular_albums['item_name'].to_list()

album_sales = data[data['item_type'] == 'album']

filtered_album_sales = album_sales[album_sales['item_name'].isin(selected)]

albums_genre = filtered_album_sales.groupby(['item_name'])[
'genre'].agg(list).reset_index()

albums_genre['genre'] = albums_genre['genre'].apply(
lambda x: list(set(x)))

pd.merge(popular_albums, albums_genre).to_dict('records')

[{'item_name': 'Timber Creek EP',
  'count': 4,
  'genre': ['rock',
   'alternative',
   'indi blues roots',
   'country',
   'indi pop comedy',
   'fremantle']},
 {'item_name': 'Procyon',
  'count': 3,
  'genre': ['creative commons',
   'experimental',
   'space ambient',
   'dark ambient',
   'chill out',
   'drone',
   'ambient',
   'lowercase',
   'ambient drone',
   'soundscapes',
   'atmospheric',
   'longform']},
 {'item_name': 'LIVE IN PARIS 1973',
  'count': 3,
  'genre': ['rock', 'german rock', 'experimental', 'krautrock']},
 {'item_name': 'How To Disappear',
  'count': 2,
  'genre': ['techno',
   'ambient',
   'meditative',
   'drone ambient',
   'meditation music',
   'new age']},
 {'item_name': 'Motorbike',
  'count': 2,
  'genre': ['punk', 'power pop', 'post punk']}]